%tr.sub-row-table{:class => "yel-back analog_item_#{after} heading"}
 %th.icons{:class => "border-l border-bn"}
  .icon
   %a.plus{:href=>"#", :class=>"hide"}
 %th.text-left{:class => "border-bn name"} Замены
 -# %th.text-left{:class => "border-bn name", :colspan=>"3"} ДМС
 %th.text-left Произв.
 %th.text-left Корпус
 %th ROHS
 %th.bold К заказу
 %th.double-first-cell Min
 %th.double-last-cell Max
 %th &nbsp;
 -# %th Прогноз
 %th Склад
 %th Цена1
 %th К2
 %th Ц2
 %th К3
 %th Ц3
 %th К4
 %th Ц4
 %th Упак.
 -# %th Снято с произв.
 -# %th Сегмент
 -# %th.border-r
  Цена конеч.
  %br
  потребителя
