%tr.sub-row-table{:class => "yel-back analog_item_#{after} heading"}
 %th.border-l.border-bn
 %th{:colspan => 16}
-#
 %th.text-left{:class => "border-bn name"} Замены
 -# %th.text-left{:class => "border-bn name", :colspan=>"3"} ДМС
 %th.text-left Произв.
 %th.text-left Корпус
 %th ROHS
 %th.bold К заказу
 %th
 %th.double-first-cell Min
 %th Max
 %th.double-last-cell &nbsp;
 -# %th Прогноз
 %th Склад
 %th Цена1
 %th К2
 %th Ц2
 %th К3
 %th Ц3
 %th К4
 %th Ц4
 -# %th Упак.
 -# %th Снято с произв.
 -# %th Сегмент
 -# %th.border-r
  Цена конеч.
  %br
  потребителя
