%tr.sub-row-table{:class => "blue-back dms_item_#{after}"}
 %th.icons{:class => "border-l border-bn"}
  .icon
   %input{:type=>"hidden", :value => after}
   %a.plus{:href=>"#", :class=>"hide"}
 %th.text-left{:class => "border-bn name", :colspan=>"3"} ДМС
 %th ROHS
 %th.bold К заказу
 %th.double-first-cell Min
 %th.double-last-cell Max
 %th Прогноз
 %th Цена1
 %th К2
 %th Ц2
 %th К3
 %th Ц3
 %th К4
 %th Ц4
 %th Корпус
 %th Кратн.
 %th Обновлено
 %th
 %th
 %th.border-r
