#footer-height
#footer
 %div
  .footer-wrap
   .left-cell
    .logoes
     %img{:src=>"/images/footer_name.gif", :alt=>"Партнерская бизнес-система"}
     %img{:src=>"/images/footer_logo.gif", :alt=>"Компэл"}
    .copyright! &copy; 2010
   .right-cell
    %ul.footer-menu
     %li
      %a{:href=>"index.html"} Главная
     %li
      %a{:href=>"#"}Бизнес
     %li
      %a{:href=>"#"}Аналитика
     %li
      %a{:href=>"#"}Планирование
     %li
      %a{:href=>"#"}Статистика
   .clear

