- prices = info_block.delete("prices")
- keys = info_block.inject({}){|r, (k, v)| (not (v.blank? || v.to_s == '0')) ? r.merge(k => v) : r }.keys
- cnt = (keys.size/2.0).ceil
- p ":::info ", info_block
%tr.sub-row-block{:class => "info_item_#{after}"}
 %th.icons{:class=>"border-l"}
  .icon
   %a.plus{:href=>"#", :class=>"hide"}
 %th.info{:colspan=>"17", :class=>"border-r"}
  %table
   %tr
    %td
     .item-f
      -# %a{:href=>"#"}Описание
      Описание
     - unless keys.empty?
      - keys.each_slice(cnt) do |blk|
       %div
        - blk.each do |key|
         .item
          = t(key.to_sym)
          %span.color-black= info_block[key]
