%tr.sub-row-block
 %th.icons{:class=>"border-l"}
  .icon
   %a.plus{:href=>"#", :class=>"hide"}
 %th.info{:colspan=>"22", :class=>"border-r"}
  %table
   %tr
    %td
     .item-f
      %a{:href=>"#"}Описание
     .item
      Регистрационная позиция:
      %span.color-black Да
     .item
      Снято с производства:
      %span.color-black НЕТ
     .item
      Сегмент:
      %span.color-black Ремонт
    %td
     .item
      Брутто-объём в кубических мм:
      %span.color-black 20
     .item
      Упаковочное количество:
      %span.color-black 50
     .item
      Вес брутто, г:
      %span.color-black 40
     .item
      Вид упаковки:
      %span.color-black Линейки
    %td
     .item
      %a{:href=>"#"} Комплементарные товары
    %td
     %a{:href=>"#"}
      %img{:src=>"/images/temp/product1.gif", :alt=>""

