.clear.block-padded
- form_for :order, :url => orders_path, :remote => true, :html => {:class => "js"} do |f|
 .block-padded
  %h2 Параметры заказа
  - if @carts.detect{|c| not c.is_a?(CartRequest) }
   .cell-in-3
    .form-hide
     .item
      .name
       %a.j-link{:href=>"#"}Добавить примечание к заказу
      .hide{:style=>"display: none;"}
       %textarea{:name => "order_comment"}
    .padded
    = render :partial => "shared/check_button", :locals => {:name => "order_needed", :title => t(:order_needed), :opts => {:need_field => true}}
   
  - if @carts.detect{|c| c.pick or c.is_a?(CartWorld) }
   .cell-in-3

    %h3 Параметры бронирования
    - unless @deliveries.empty?
     .padded
      %span
       %span{:style => "float: left;"}Способ поставки:
       = render :partial => "shared/select_list", :locals => {:list_items => @deliveries, :name => :delivery_type}
       .clear
     .padded
      %span Дата готовности:
      %input.calendar-input{:type => "text", :name => 'date_picker', :value => Date.today.strftime("%Y-%m-%d")}
  - if @carts.detect{|c| c.is_a?(CartRequest) }
   .block-padded
    %h3 Параметры запроса
    %textarea{:name => "comment"}
    .padded
 = render :partial => "shared/submit_button", :locals => {:title => t(:make)}
 = render :partial => "shared/button", :locals => {:title => t(:cancel), :opts => {:id => "order_cancel"}}

