.search
 = form_for :search, :url => search_path do |f|
  = f.label :query_string
  = f.text_field :query_string
%h1 Пользователи
- @users.each do |user|
 .line
  = link_to user.username, edit_user_path(user)
