%span.switch.check
 - if defined?(opts)
  - if opts[:need_field]
   - if opts.has_key?(:field_code)
    = opts[:field_code]
   - else
    = hidden_field_tag name, opts.has_key?(:value) ? (opts[:value] ? '1' : '0') : '0', opts[:field_opts] || {}
 %a{:href=>"#", :name => name, :class => [defined?(opts) && opts[:value] ? "active" : nil]}
  %span= title

