.pagination{:style => "#{defined?(align) ? "text-align=#{align}" : ""}"}
 - 1..pages do |curr|
  - if curr == page
   %a{:href => url_for(params.merge(:page => curr}= curr
  - else
   %span.current= curr
