- p "---page_1", params
.pagination{:style => "#{defined?(opts) && opts.has_key?(:align) ? "text-align:#{opts[:align]};" : ""}"}
 - (1..pages).each do |curr|
  - if curr == page
   %span.current= curr
  - else
   %a{:href => url_for(params.merge(:page => curr.to_s))}= curr
