.commit.button{:id => [defined?(opts) && opts[:id] ? opts[:id] : nil], :class => [defined?(opts) && opts[:class] ? opts[:class] : nil], :style => (defined?(opts) && opts[:style] ? opts[:style] : "")}
 %a.button-style{:href=>"#"}
  %i.t &nbsp;
  %i.b &nbsp;
  %i.tl &nbsp;
  %i.tr &nbsp;
  %span= title
  %i.bl &nbsp;
  %i.br &nbsp;
