<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>ПБС - партнерская бизнес-система | Корзина</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="css/common.css" type="text/css" />
<link rel="stylesheet" href="css/layout.css" type="text/css" />
<script type="text/javascript" src="js/jquery-1.4.3.min.js"></script>
<script type="text/javascript" src="js/jquery.header.js"></script>
<script type="text/javascript" src="js/jquery.table.js"></script>
<script type="text/javascript" src="js/jquery.controls.js"></script>
<script type="text/javascript" src="js/jquery.hint.js"></script>
<script type="text/javascript" src="js/jquery.lightbox.js"></script>
<script type="text/javascript" src="js/jquery.validationEngine-ru.js"></script>
<script type="text/javascript" src="js/jquery.validationEngine.js"></script>
<script type="text/javascript" src="js/date.js"></script>
<script type="text/javascript" src="js/jquery.datePicker-2.1.2.js"></script>
<script type="text/javascript">

	//Настройки интерфейса
	var settings = {
			animation: true, //Включить/выключить анимацию элементов интерфейса
			header: { //Шапка
				hide: true, //Показать/скрыть
				//static: false, //Статическая/фиксированная (прижата к верхней границе браузера)
				speedAnimation: 500 //Скорость анимации
			},
			cartBox: { //Блок с корзиной в шапке
				hide: true, //Показать/скрыть
				speedAnimation: 500  //Скорость анимации
			},
			searchBox: { //Блок поиска
				hide: false //Показать/скрыть
			},
			controls: { //Элементы управления
				inputInCart: { //Поле ввода "Добавить в корзину" для таблицы вывода списка продукции
					speedIconShow: true, //Наличие иконки быстрого оформления заказа
					speedIconTimeShow: 2000, //Время показа иконки быстрого оформления заказа
					speedIconAnimate: 400 //Скорость появления иконки быстрого оформления заказа
				},
				dropDown: { //Раскрывающийся блок
					speed: 500 //Скорость анимации
				}
			}
		}
	
	$(function(){
		
		//Шапка (файл: jquery.header.js)
		$('#header').header();
		
		//Корзина в шапке (файл: jquery.header.js)
		$('.cart-block-slider').cartBox();
		
		//Поиск в шапке (файл: jquery.header.js)
		$('.search-block').searchBox();
		
		//Таблица результатов поиска
		$('.table-navigation-block').table();
		
		//Скроллинг таблиц
		tableScroller.refresh();
		
		//Выпадающие списки (файл: jquery.controls.js)
		$('.select').selectList();
		
		//Кнопки
		$('.button-style').button();
		$('.button-style-menu').buttonMenu();
		
		//Фильтры
		$('.switch').switchControl();
		
		// Хинты
		$('.hint').hint();
		
		//Календарь
		$('.calendar-input').datePicker();
		
		//Раскрывающиеся блоки
		$('.form-hide .item').dropDown();
		
		// Всплывающие окна
		$('.cart-block .cart-popup').lightbox({
			title:'В корзине',
			titleClass:'cart'
		});
		$('.line-comment a').lightbox({
			title:'Примечание к строке',
			showCloseButton:false,
			hideOnLeaveClick:true,
			float:true
		});
		
	});
	
</script>
</head>
<body>
<div class="all">
	
	<!-- Скролл таблиц -->
	<div class="scroller-table"><div class="scroll-content-width"></div></div>
	<!-- //end Скролл таблиц -->
	
	<!-- Попап корзины -->
	<div style="display:none"><div class="popap" id="cart-popup">
		<div class="cart-popup">
			<div class="popup-content-stand">
				<span class="switch radio">Показать: <a href="#" class="active"><span>Все</span></a> <a href="#"><span>Заказ</span></a> <a href="#"><span>ДМС</span></a> <a href="#"><span>Запрос</span></a></span>
			</div>
			<div class="popup-content-scroll">
				<div class="table-navigation-block">
					<table class="table-style cart-min">
						<tr>
							<th>&nbsp;</th>
							<th>Тип</th>
							<th class="text-left">Наименование</th>
							<th class="text-left">Произв. </th>
							<th class="bold">В корзину</th>
							<th>Склад</th>
							<th>Цена</th>
							<th>ROHS</th>
						</tr>
						<tr>
							<td class="icons"><div class="icon"><a href="#" class="delete delete-from-cart"></a></div></td>
							<td class="icons type"><div class="icon order"></div></td>
							<td class="text-left">TDA2003</td>
							<td class="text-left">ST</td>
							<td class="input-in-cart exist"><div><a href="#" class="speed-cart-button"><span><span>&nbsp;</span></span></a><input type="text" value="280" /><a href="#" class="count">280</a></div></td>
							<td>CENTER</td>
							<td class="green">0,5435</td>
							<td></td>
						</tr>
						<tr>
							<td class="icons"><div class="icon"><a href="#" class="delete delete-from-cart"></a></div></td>
							<td class="icons type">Запрос</td>
							<td class="text-left">NXP34093485</td>
							<td class="text-left">Orbita</td>
							<td class="input-in-cart exist"><div><a href="#" class="speed-cart-button"><span><span>&nbsp;</span></span></a><input type="text" value="20" /><a href="#" class="count">20</a></div></td>
							<td>CENTER</td>
							<td class="green">0,5435</td>
							<td></td>
						</tr>
						<tr>
							<td class="icons"><div class="icon"><a href="#" class="delete delete-from-cart"></a></div></td>
							<td class="icons type"><div class="icon dms"></div></td>
							<td class="text-left">TDA2003</td>
							<td class="text-left">Orbita</td>
							<td class="input-in-cart exist"><div><a href="#" class="speed-cart-button"><span><span>&nbsp;</span></span></a><input type="text" value="5" /><a href="#" class="count">5</a></div></td>
							<td>CENTER</td>
							<td class="green">0,5435</td>
							<td></td>
						</tr>
						
						<tr>
							<td class="icons"><div class="icon"><a href="#" class="delete delete-from-cart"></a></div></td>
							<td class="icons type"><div class="icon order"></div></td>
							<td class="text-left">TDA2003</td>
							<td class="text-left">ST</td>
							<td class="input-in-cart exist"><div><a href="#" class="speed-cart-button"><span><span>&nbsp;</span></span></a><input type="text" value="280" /><a href="#" class="count">280</a></div></td>
							<td>CENTER</td>
							<td class="green">0,5435</td>
							<td></td>
						</tr>
						<tr>
							<td class="icons"><div class="icon"><a href="#" class="delete delete-from-cart"></a></div></td>
							<td class="icons type">Запрос</td>
							<td class="text-left">NXP34093485</td>
							<td class="text-left">Orbita</td>
							<td class="input-in-cart exist"><div><a href="#" class="speed-cart-button"><span><span>&nbsp;</span></span></a><input type="text" value="20" /><a href="#" class="count">20</a></div></td>
							<td>CENTER</td>
							<td class="green">0,5435</td>
							<td></td>
						</tr>
						<tr>
							<td class="icons"><div class="icon"><a href="#" class="delete delete-from-cart"></a></div></td>
							<td class="icons type"><div class="icon dms"></div></td>
							<td class="text-left">TDA2003</td>
							<td class="text-left">Orbita</td>
							<td class="input-in-cart exist"><div><a href="#" class="speed-cart-button"><span><span>&nbsp;</span></span></a><input type="text" value="5" /><a href="#" class="count">5</a></div></td>
							<td>CENTER</td>
							<td class="green">0,5435</td>
							<td></td>
						</tr>
						<tr>
							<td class="icons"><div class="icon"><a href="#" class="delete delete-from-cart"></a></div></td>
							<td class="icons type"><div class="icon order"></div></td>
							<td class="text-left">TDA2003</td>
							<td class="text-left">ST</td>
							<td class="input-in-cart exist"><div><a href="#" class="speed-cart-button"><span><span>&nbsp;</span></span></a><input type="text" value="280" /><a href="#" class="count">280</a></div></td>
							<td>CENTER</td>
							<td class="green">0,5435</td>
							<td></td>
						</tr>
						<tr>
							<td class="icons"><div class="icon"><a href="#" class="delete delete-from-cart"></a></div></td>
							<td class="icons type">Запрос</td>
							<td class="text-left">NXP34093485</td>
							<td class="text-left">Orbita</td>
							<td class="input-in-cart exist"><div><a href="#" class="speed-cart-button"><span><span>&nbsp;</span></span></a><input type="text" value="20" /><a href="#" class="count">20</a></div></td>
							<td>CENTER</td>
							<td class="green">0,5435</td>
							<td></td>
						</tr>
						<tr>
							<td class="icons"><div class="icon"><a href="#" class="delete delete-from-cart"></a></div></td>
							<td class="icons type"><div class="icon dms"></div></td>
							<td class="text-left">TDA2003</td>
							<td class="text-left">Orbita</td>
							<td class="input-in-cart exist"><div><a href="#" class="speed-cart-button"><span><span>&nbsp;</span></span></a><input type="text" value="5" /><a href="#" class="count">5</a></div></td>
							<td>CENTER</td>
							<td class="green">0,5435</td>
							<td></td>
						</tr>
						<tr>
							<td class="icons"><div class="icon"><a href="#" class="delete delete-from-cart"></a></div></td>
							<td class="icons type"><div class="icon order"></div></td>
							<td class="text-left">TDA2003</td>
							<td class="text-left">ST</td>
							<td class="input-in-cart exist"><div><a href="#" class="speed-cart-button"><span><span>&nbsp;</span></span></a><input type="text" value="280" /><a href="#" class="count">280</a></div></td>
							<td>CENTER</td>
							<td class="green">0,5435</td>
							<td></td>
						</tr>
						<tr>
							<td class="icons"><div class="icon"><a href="#" class="delete delete-from-cart"></a></div></td>
							<td class="icons type">Запрос</td>
							<td class="text-left">NXP34093485</td>
							<td class="text-left">Orbita</td>
							<td class="input-in-cart exist"><div><a href="#" class="speed-cart-button"><span><span>&nbsp;</span></span></a><input type="text" value="20" /><a href="#" class="count">20</a></div></td>
							<td>CENTER</td>
							<td class="green">0,5435</td>
							<td></td>
						</tr>
						<tr>
							<td class="icons"><div class="icon"><a href="#" class="delete delete-from-cart"></a></div></td>
							<td class="icons type"><div class="icon dms"></div></td>
							<td class="text-left">TDA2003</td>
							<td class="text-left">Orbita</td>
							<td class="input-in-cart exist"><div><a href="#" class="speed-cart-button"><span><span>&nbsp;</span></span></a><input type="text" value="5" /><a href="#" class="count">5</a></div></td>
							<td>CENTER</td>
							<td class="green">0,5435</td>
							<td></td>
						</tr>
					</table>
				</div>
			</div>
			<div class="popup-content-stand">
				<a href="cart.html" class="button-style">
					<i class="t">&nbsp;</i><i class="b">&nbsp;</i><i class="tl">&nbsp;</i><i class="tr">&nbsp;</i>
					<span class="icon pointer"><span class="icon cart"><span class="icon text">К оформлению</span></span></span>
					<i class="bl">&nbsp;</i><i class="br">&nbsp;</i>							</a>
				<div class="total">
					Итого позиций: <span class="red">3; Общая сумма:  $456</span>
					<br /><span class="grey">ДМС:</span> $44,96<span class="grey">, В заказ: </span>$53,18 <span class="grey">Вес:</span> 0,20кг							</div>
			</div>
		</div>
	</div></div>
	<!-- //end Попап корзины -->
	
	<!-- Шапка -->
	<div id="header-height" style="display:none;"></div>
	<div id="header" class="header-static"><div class="header-hid"><div class="header-wrap">
		
		<div class="header-panel"><div class="back-hp1"><div class="back-hp2"><div class="back-hp3">
			<div class="logo-name"><img src="images/header_name.gif" alt="Партнерская бизнес-система" /></div>
			<div class="logo-company"><img src="images/header_logo.gif" alt="Компэл" /></div>
			<div class="info-block">
				<div class="informer">
					<div class="today">Сегодня:</div>
					<div class="date">Вторник,<br />11 мая 2010 г.</div>
					<div class="rate">Курс $ = 30,3450 р.</div>
				</div>
				<div class="line"></div>
				<div class="user-block">
					<span class="name">Петров Николай Васильевич</span>
					<div class="comp">ООО "Рога и копыта.РУ"</div>
					<a href="#">Настройки</a><a href="#" class="quite">Выход из системы</a>
				</div>
				<div class="clear"></div>
			</div>
		</div></div></div></div>
		
		<div class="button-slide-panel"><a href="#" class="button-slide up"></a></div>
		
		<div class="main-menu">
			<div class="corner-l"></div>
			<div class="corner-r"></div>
			<div class="button">
				<div class="button-shadow"><i class="b1"></i><i class="b2"></i><i class="b3"><i></i></i><a href="index.html" class="link">Главная</a></div>
			</div>
			<div class="button">
				<div class="button-shadow"><i class="b1"></i><i class="b2"></i><i class="b3"><i></i></i><a href="#" class="link">Бизнес</a></div>
				<div class="submenu-shadow">
					<i class="b1"></i><i class="b2"></i><i class="b3"></i><i class="b4"><i></i></i><i class="b5"><i></i></i><i class="b6"></i><i class="b7"></i><i class="b8"></i>
					<ul class="submenu">
						<li><a href="#"><span>Запросы</span></a></li>
						<li><a href="orders.html" class="order"><span>Заказы</span></a></li>
						<li><a href="#"><span>Грузы</span></a></li>
						<li>
							<a href="#"><span>Исходящие грузы</span></a>
							<ul>
								<li><a href="#"><span>Строки заказа</span></a></li>
								<li><a href="#"><span>Контроль продолжительности резервирования</span></a></li>
								<li><a href="#"><span>Открытые строки заказов</span></a></li>
								<li><a href="#"><span>Строки заказа клиента</span></a></li>
							</ul>
						</li>
						<li class="active"><a href="#"><span>Накладные</span></a></li>
					</ul>
				</div>
			</div>
			<div class="button">
				<div class="button-shadow"><i class="b1"></i><i class="b2"></i><i class="b3"><i></i></i><a href="#" class="link">Аналитика</a></div>
			</div>
			<div class="button">
				<div class="button-shadow"><i class="b1"></i><i class="b2"></i><i class="b3"><i></i></i><a href="#" class="link">Сообщения &nbsp; <span class="counter"><i class="c1"></i><i class="c2"></i>327</span></a></div>
			</div>
		</div>
		
		<div class="tabs-block">
			<a href="#" class="tab tab-search" style="display:none">Поиск</a>
		</div>
		
		<div class="cart-block"><div class="cart-block-wrap">
			<div class="cart-block-slider">
				<div class="info">
					<div class="item">ДМС: $44,96 </div>
					<div class="item">В заказ: $53,18</div>
					<div class="item">Вес: 0,20кг </div>
					<div class="item"><a href="#cart-popup" class="cart-popup">В корзине: 215</a></div>
				</div>
				<div class="title"><div class="back-l"><div class="back-r">
					<a href="cart.html" class="order"><span class="icon-pointer"><span class="icon">&nbsp;</span></span></a>
					<a href="#" class="panel close">Корзина</a>
				</div></div></div>
			</div>
		</div></div>
		
		<div class="clear"></div>
		
		<div class="search-block">
			<div class="back-x"><div class="back-l"><div class="back-r">
				<a href="#" class="close-link"><span>свернуть</span></a>
				<div class="search-tabs">
					<a href="#"><span><span>Список</span></span></a>
					<a href="#" class="active"><span><span>Поиск по наименованию</span></span></a>
					<a href="#"><span><span>Артикул ДМС (Farnel, Newark)</span></span></a>
					<a href="#"><span><span>По параметрам</span></span></a>
					<a href="#" class="more">Еще</a>
				</div>
				<div class="search-tab-block" style="display:none">
					<form action=" ">
						<div class="field">
							<textarea class="list-area" cols="1" rows="1">
TDA2003;OR;300
OPA129U;TI;1
IRFP044;;3
215035;50
189566;50
OPA129U;TI;1
IRFP044;;3
215035;50
189566;50
							</textarea>
						</div>
						<div class="button">
							<a href="#" class="button-style">
								<i class="t">&nbsp;</i><i class="b">&nbsp;</i><i class="tl">&nbsp;</i><i class="tr">&nbsp;</i>
								<span>Найти!</span>
								<i class="bl">&nbsp;</i><i class="br">&nbsp;</i>
							</a>
						</div>
						<div class="clear"></div>
					</form>
				</div>
				<div class="search-tab-block">
					<form action=" ">
						<div class="field">
							<input type="text" value="TDA2003;OR;300" />
						</div>
						<div class="button">
							<a href="#" class="button-style">
								<i class="t">&nbsp;</i><i class="b">&nbsp;</i><i class="tl">&nbsp;</i><i class="tr">&nbsp;</i>
								<span>Найти!</span>
								<i class="bl">&nbsp;</i><i class="br">&nbsp;</i>
							</a>
						</div>
						<div class="clear"></div>
					</form>
				</div>
				<div class="search-tab-block" style="display:none">
					<form action=" ">
						<div class="field">
							<input type="text" value="TDA2003;OR;400" />
						</div>
						<div class="button">
							<a href="#" class="button-style">
								<i class="t">&nbsp;</i><i class="b">&nbsp;</i><i class="tl">&nbsp;</i><i class="tr">&nbsp;</i>
								<span>Найти!</span>
								<i class="bl">&nbsp;</i><i class="br">&nbsp;</i>
							</a>
						</div>
						<div class="clear"></div>
					</form>
				</div>
				<div class="search-tab-block" style="display:none">
					<form action=" ">
						<div class="field">
							<input type="text" value="TDA2003;OR;500" />
						</div>
						<div class="button">
							<a href="#" class="button-style">
								<i class="t">&nbsp;</i><i class="b">&nbsp;</i><i class="tl">&nbsp;</i><i class="tr">&nbsp;</i>
								<span>Найти!</span>
								<i class="bl">&nbsp;</i><i class="br">&nbsp;</i>
							</a>
						</div>
						<div class="clear"></div>
					</form>
				</div>
			</div></div></div>
		</div>
		
		<div class="content-in-header">
			<div class="order-block">
				<div class="controls-cell">
					<div class="main-title orders"><a href="orders.html" class="nav-link">Заказы</a> &gt; <span class="active">Заказ 02349587</span> <a href="#" class="favorite-icon"><img src="images/spacer.gif" alt="" /></a> <a href="#" class="in-bookmarks-icon"><img src="images/spacer.gif" alt="" /></a></div>
					<h4>Обработка заказа:</h4>
					<div class="button-style-menu">
						<a href="#" class="button-style">
							<i class="t">&nbsp;</i><i class="b">&nbsp;</i><i class="tl">&nbsp;</i><i class="tr">&nbsp;</i>
							<span class="icon options"><span class="icon text">Обработать отмеченные</span></span>
							<i class="bl">&nbsp;</i><i class="br">&nbsp;</i>
						</a>
						<div class="clear"></div>
						<div class="button-style-sub"><div class="pad"><div class="border">
							<a href="#">Резервировать</a>
							<a href="#">Бронировать</a>
							<a href="#">Удалить</a>
							<a href="#">Выставить счет</a>
						</div></div></div>
					</div>
					<div class="clear"></div>
					<div style="padding-top:8px;"><a href="#" class="j-link">Пересчитать цены</a></div>
				</div>
				<div class="controls-cell info-cell">
					<ul class="menu">
						<li><a href="#">Строки заказа</a></li>
						<li><a href="#">Проводки</a></li>
						<li><a href="#">Статус оплаты</a></li>
						<li><a href="#">История резерва</a></li>
					</ul>
					<div class="clear"></div>
					<div class="inv-info">
						<div class="txt-line"><strong>Информация по счету:</strong>&nbsp;&nbsp; <a href="#" class="j-link">Перевыставить счет</a>&nbsp; <span class="hint"><img src="images/spacer.gif" alt="<strong>Дата поставки</strong>" /></span></div>
						<span class="color-grey">Счет на оплату:</span> A-018644_10 (01170386)
						<br /><span class="color-grey">Сумма по счету:</span> 87584 р
					</div>
				</div>
				<div class="clear"></div>
			</div>
		</div>
		
		<div class="scroll-content-block"><div class="scroll-show">
			<div class="line"><div class="button"><a href="#"><span>&nbsp;</span></a></div></div>
			<div class="shadow"></div>
		</div></div>
		<div class="global-error" style="display:none"></div>
		
	</div></div></div>
	<!-- //end Шапка -->
	
	<!-- Контент -->
	<div id="content"><div class="content-wrap">
		<div class="table-navigation-block">
			
			<div class="table-block"><div class="table-scrolling">
				<table class="table-style order-one">
					<tr>
						<th>&nbsp;</th>
						<th class="check-product"><input type="checkbox" /></th>
						<th>Резерв</th>
						<th>Бронь</th>
						<th class="text-left">Наименование</th>
						<th class="text-left">Произв. </th>
						<th class="bold">Кол-во</th>
						<th>Доступно</th>
						<th>Цена</th>
						<th>Скидка</th>
						<th>Скидка %</th>
						<th>Сумма</th>
						<th>ПдП</th>
						<th>Применение</th>
						<th>Примечание</th>
						<th>Ожидаемая<br />дата поставки</th>
						<th>Проект</th>
						<th class="text-left">Склад</th>
					</tr>
					<tr>
						<td class="icons"><div class="icon"><a href="#" class="delete delete-from-order"></a></div></td>
						<td class="check-product"><input type="checkbox" /></td>
						<td><input type="checkbox" class="check-input" /></td>
						<td><input type="checkbox" class="check-input" /></td>
						<td class="text-left"><a href="#" class="j-link">TDA2003</a></td>
						<td class="text-left"><a href="#">ST</a></td>
						<td class="input-in-cart exist"><div><a href="#" class="speed-cart-button"><span><span>&nbsp;</span></span></a><input type="text" value="280" /><a href="#" class="count">280</a></div></td>
						<td>2000</td>
						<td class="green">0,5435</td>
						<td>0,0000</td>
						<td>0,0000</td>
						<td>145,61</td>
						<td></td>
						<td class="text-left">
							<div class="select">
								<div class="sub">
									<a href="#" name="none">--</a>
									<a href="#" name="line">Линейки</a>
									<a href="#" name="pack">Упаковка</a>
								</div>
								<input type="hidden" name="select_1" value="" />
							</div>
						</td>
						<td class="text-left line-comment"><a href="data/edit_comment.html" class="j-link">Пообедал я сперва..</a></td>
						<td>05.05.2010</td>
						<td></td>
						<td>CENTER</td>
					</tr>
					<tr>
						<td class="icons"><div class="icon"><a href="#" class="delete delete-from-order"></a></div></td>
						<td class="check-product"><input type="checkbox" /></td>
						<td><input type="checkbox" class="check-input" /></td>
						<td><input type="checkbox" class="check-input" /></td>
						<td class="text-left"><a href="#" class="j-link">TDA2003</a></td>
						<td class="text-left"><a href="#">ST</a></td>
						<td class="input-in-cart exist"><div><a href="#" class="speed-cart-button"><span><span>&nbsp;</span></span></a><input type="text" value="280" /><a href="#" class="count">280</a></div></td>
						<td>2000</td>
						<td class="green">0,5435</td>
						<td>0,0000</td>
						<td>0,0000</td>
						<td>145,61</td>
						<td></td>
						<td class="text-left">
							<div class="select">
								<div class="sub">
									<a href="#" name="none">--</a>
									<a href="#" name="line">Линейки</a>
									<a href="#" name="pack">Упаковка</a>
								</div>
								<input type="hidden" name="select_1" value="" />
							</div>
						</td>
						<td class="text-left line-comment"><a href="data/edit_comment.html" class="j-link">Пообедал я сперва..</a></td>
						<td>05.05.2010</td>
						<td></td>
						<td>CENTER</td>
					</tr>
				</table>
			</div></div>
		</div>
		<div class="content-block cart-page">
			<form action=" ">
				<div class="cell-in-3">
					<div class="form-hide">
						<div class="item">
							<div class="name"><a href="#" class="j-link">Добавить примечание к заказу</a></div>
							<div class="hide"><textarea class="comment-area" rows="1" cols="1">Нажали ссылку, котрылся блок примечаний</textarea></div>
						</div>
					</div>
				</div>
				<div class="cell-in-3">
					<div class="form-hide">
						<div class="item">
							<div class="name"><a href="#" class="j-link">Статистика</a></div>
							<div class="hide">
								<table class="simple-table">
									<tr>
										<td>Номер заказа: </td>
										<td>02628208</td>
									</tr>
									<tr><td colspan="2">&nbsp;</td></tr>
									<tr>
										<td>Дата заказа: </td>
										<td>05.05.2010 </td>
									</tr>
									<tr>
										<td>Наименование:</td>
										<td>МЕГЕЛ</td>
									</tr>
									<tr>
										<td>Контактное лицо:</td>
										<td>Петров С.М.</td>
									</tr>
									<tr>
										<td>Тип заказа: </td>
										<td>Заказ  </td>
									</tr>
									<tr>
										<td>Статус:  </td>
										<td>Открытый заказ</td>
									</tr>
									<tr>
										<td>Дата готовности: </td>
										<td>05.05.2010</td>
									</tr>
									<tr>
										<td>Дата закрытия: </td>
										<td>05.05.2010</td>
									</tr>
									<tr><td colspan="2">&nbsp;</td></tr>
									<tr>
										<td>Итоги по заказу</td>
										<td>02628208</td>
									</tr>
								</table>
							</div>
						</div>
					</div>
				</div>
				<div class="cell-in-3 last right">
					<div class="total">
						<table class="total-table">
							<tr class="red"><td>Доступная сумма резерва:</td><td>4962,99</td></tr>
							<tr class="red"><td>Итого по заказу:</td><td>154,77</td></tr>
							<tr class="red"><td>ДМС:</td><td>140,73</td></tr>
							<tr><td>Cуммарный вес:</td><td>0,18</td></tr>
						</table>
						<div class="clear"></div>
						<a href="#" class="button-style">
							<i class="t">&nbsp;</i><i class="b">&nbsp;</i><i class="tl">&nbsp;</i><i class="tr">&nbsp;</i>
							<span>Экспорт</span>
							<i class="bl">&nbsp;</i><i class="br">&nbsp;</i>
						</a>
					</div>
				</div>
				<div class="clear"></div>
			</form>
		</div>
		<div style=" height:500px; border:1px solid #CCCCCC; margin-top:20px; padding:35px;">
			<div id="test"></div>
			<div class="main-title">Test panel</div>
			<div><label><input type="checkbox" checked="checked" onclick="if(this.checked){settings.animation = true;} else {settings.animation = false;}" /> Анимация</label></div>
			<!--<div><label><input type="checkbox" checked="checked" onclick="if(this.checked){header.fixed();} else {header.static();}" id="st-dn" /> Фиксированная шапка</label></div>-->
			<br />
			<div><label><input type="checkbox" onclick="if(this.checked){globalError.set('<strong>Глобальная ошибка!</strong>  Вы идиот, идите в сад...');} else {globalError.clear();}" /> НЕ ВКЛЮЧАТЬ!!</label></div>
			<br />
			<div><style>#error-input{border:1px solid;}</style><input type="text" id="error-input" value="Не трогать" onblur="if(this.value != 'Не трогать') $(this).setError({text:'Ну что вы за люди такие........'});" /></div>
			<div style="padding-top:5px;"><input type="submit" value="Отремонтировать" onclick="$('#error-input').clearError().val('Не трогать');" /></div>
			<!--<div style="opacity:0.5;"><div style="width:100px; height:100px; overflow:auto"><div style="height:300px;"></div></div></div>-->
		</div>
	</div></div>
	<!-- //end Контент -->
	
	<!-- Подвал -->
	<div id="footer-height"></div>
	<div id="footer"><div><div class="footer-wrap">
		<div class="left-cell">
			<div class="logoes"><img src="images/footer_name.gif" alt="Партнерская бизнес-система" /><img src="images/footer_logo.gif" alt="Компэл" /></div>
			<div class="copyright">&copy; 2010</div>
		</div>
		<div class="right-cell">
			<ul class="footer-menu">
				<li><a href="index.html">Главная</a></li>
				<li><a href="#">Бизнес</a></li>
				<li><a href="#">Аналитика</a></li>
				<li><a href="#">Планирование</a></li>
				<li><a href="#">Статистика</a></li>
			</ul>
		</div>
		<div class="clear"></div>
	</div></div></div>
	<!-- //end Подвал -->
	
</div>
</body>
</html>