%h3 Список заказов
-# filters sales_id, official_number, this_sales_origin, only_my

%table
 %tr
  %th УРМ
  %th Номер заказа
  %th Офиц. номер
  %th Сумма
  %th Дата создания
  %th Статус
  %th Примечание
  %th Контактное лицо
  %th Дата готовности
  %th Код способа доставки
  %th Счет
  %th Сумма по счету
 = render :partial => "orders/list_line", :collection => @orders
