$("#order").html("#{escape_javascript(render :partial => "main/order_edit")}");
$("#order").show();
$("table.search-products").parents("form").hide();
if($(".calendar-input").length > 0){
$(".calendar-input").datepicker({ dateFormat: 'yy-mm-dd' });
}
$('.commit a.button-style').click(function(){
$(this).parents('form').submit();
return false;
});
$('.select').selectList();
$('.button-style').button();
$('.switch').switchControl();
