!!!
%html{:xmlns=>"http://www.w3.org/1999/xhtml", :dir=>"ltr", :lang=>"ru-RU"}
 %head
  %meta{:"http-equiv"=>"Content-Type", :content=>"text/html; charset=UTF-8"}
  %title УРМ-2 #{ @title.blank? ? "" : "| #{@title}"}
  %link#wp-admin-css{:rel=>'stylesheet', :href=>stylesheet_path('wp-admin.css)', :type=>'text/css', :media=>'all'}
  %link#colors-fresh-css{:rel=>'stylesheet', :href=>stylesheet_path('colors-fresh.css'), :type=>'text/css', :media=>'all'}
  -# %script{:type=>'text/javascript', :src=>'http://192.168.0.72:8080/news/wp-includes/js/jquery/jquery.js?ver=1.7.1'}
  %meta{:name=>'robots', :content=>'noindex,nofollow'}
 %body
  = yield
