%table
 - @accounts.each do |account|
  %tr
   %td= account.axapta_hash
   %td= link_to "Edit", edit_user_account_path(account.user, account)
   %td= [account.contact_first_name, account.contact_middle_name, account.contact_last_name, ].compact.join(' ')
